html, body {
  min-height: 100svh;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;

  background-color: #222228;
  image-rendering: crisp-edges;

  perspective: 1000px;

  font-size: 25px;
}


.model {
  --x-rot: ;
  --y-rot: ;
  /* outline: solid 5px red; */
  position: relative;

  transform-style: preserve-3d;
  transform:
    rotateX(180deg)

    rotateX(var(--x-rot))
    rotateY(var(--y-rot))
    
    translate3d(-8em, -8em, -8em);
  
  pointer-events: none;
}
.model * { pointer-events: none; position: absolute; transform-origin: 0 0; transform-style: preserve-3d; }

.model > .cube {
  --x: 0;
  --y: 0;
  --z: 0;
  --width: 16em;
  --height: 16em;
  --depth: 16em;
  transform:
    translate3d(
      var(--x),
      var(--y),
      var(--z)
    );
}

.model .face {
  --rotation: 0;
  --y-mirrored: 0;
  --x-mirrored: 0;
  display: grid;
  place-items: center;
}
.model .face::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  /* background-color: #f0e2; */
  background-image: var(--texture);
  background-size: 100% 100%;

  transform: rotate(var(--rotation)) rotateY(calc(var(--y-mirrored) * 180deg)) rotateX(calc(var(--x-mirrored) * 180deg));
}
.model :is(.up, .down, .north, .south)   { width:  var(--width);  }
.model :is(.north, .south, .west, .east) { height: var(--height); }
.model :is(.up, .down)                   { height: var(--depth);  }
.model :is(.west, .east)                 { width:  var(--depth);  }
.model .odd-rot:is(.up, .down, .north, .south)::before   { height: var(--width);  }
.model .odd-rot:is(.north, .south, .west, .east)::before { width:  var(--height); }
.model .odd-rot:is(.up, .down)::before                   { width:  var(--depth);  }
.model .odd-rot:is(.west, .east)::before                 { height: var(--depth);  }

.model .up { transform: translateY( var(--height) ) rotateX(90deg);  }
.model .down { transform: rotateX(90deg);  }
.model .north {
  transform:
    rotate(180deg)
    rotateY(180deg)
    translate3d(
      0,
      calc(-1 * var(--height)),
      0
    );
}
.model .south {
  transform:
    rotate(180deg)
    translate3d(
      calc(-1 * var(--width)),
      calc(-1 * var(--height)),
      var(--depth)
    );
}
.model .east {
  transform:
    rotate(180deg)
    rotateY(90deg)
    translate3d(
      calc(-1 * var(--depth)),
      calc(-1 * var(--height)),
      0
    );
}
.model .west {
  transform:
    rotate(180deg)
    rotateY(-90deg)
    translate3d(
      0,
      calc(-1 * var(--height)),
      var(--width)
    );
}