html, body {
  min-height: 100svh;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;

  background-color: #222228;
  image-rendering: crisp-edges;

  perspective: 1000px;

  font-size: 25px;
}


.model {
  --x-rot: ;
  --y-rot: ;
  /* outline: solid 5px red; */
  position: relative;

  transform-style: preserve-3d;
  transform:
    rotateX(180deg)

    rotateX(var(--x-rot))
    rotateY(var(--y-rot))
    
    translate3d(-8em, -8em, -8em);
  
  pointer-events: none;
}
.model * { pointer-events: none; position: absolute; transform-origin: 0 0; transform-style: preserve-3d; }

.model > .base {
  position: absolute;
  width: 16em;
  aspect-ratio: 1;
  background-color: #ddddee0e;

  transform: rotateX(90deg);
}
.model > .cube {
  --x: 0;
  --y: 0;
  --z: 0;
  --width: 16em;
  --height: 16em;
  --depth: 16em;
  transform:
    translate3d(
      var(--x),
      var(--y),
      var(--z)
    );
}

.model :is(.up, .down, .north, .south, .west, .east) {
  background-image: url(./minecraft/textures/block/bedrock.png);
  background-size: cover;
}
.model :is(.up, .down, .north, .south)   { width:  var(--width);  }
.model :is(.north, .south, .west, .east) { height: var(--height); }
.model :is(.up, .down)                   { height: var(--depth);  }
.model :is(.west, .east)                 { width:  var(--depth);  }

.model .up    { transform: translateY( var(--height) ) rotateX(90deg);  }
.model .down  { transform: /* --------------------- */ rotateX(90deg);  }
.model .north { transform: translateZ( var(--depth) )  /* --------- */; } /*
.model .south { This is just useless haha (potato)  ------------------  } */
.model .west  { transform: /* ----------------------*/ rotateY(-90deg); }
.model .east  { transform: translateX( var(--width) )  rotateY(-90deg); }